body{
    background-color: black;
    padding: 0px;
    margin: 0px;
}

/*WORLD SETUP*/
div.row {
    height:20px;
}
div.row div{
    width: 20px;
    height: 20px;
/*    border: 1px solid black;*/
    display: inline-block;
    margin: 0px;
}

/*BRICKS*/
div.brick{
    background-color: blue;
}
div.left{
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}
div.right{
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}
div.top{
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}
div.bottom{
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}
div.lefttop{
    border-top-left-radius: 100%;
}
div.leftbottom{
    border-bottom-left-radius: 100%;
}
div.righttop{
    border-top-right-radius: 100%;
}
div.rightbottom{
    border-bottom-right-radius: 100%;
}


/*DYNAMIC CONTENT*/
div.coin{
    background-image: url(../img/coin.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5px;
}
div.cherries{
    background-image: url(../img/cherries.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}


/*PACMAN*/
div#pacman{
    background-image: url(../img/pacman.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}
/*GHOST*/
div#ghost{
    background-image: url(../img/giphy.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
}
div#ghost2{
    background-image: url(../img/ghost.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
}
/*SCORE*/
div#score{
    border: 1px solid white;
    width: 30px;
    height: 30px;
    color: white;
    padding: 7px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 550px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*PACMAN MOVEMENTS*/
.down{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
    
}
.up{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}
.right{

}
.left{
    -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Safari */
    transform: rotate(-180deg);
}

/*GAME OVER*/
#gameover{
    background-image: url(../img/gameover.jpg);
    background-size: cover;
    background-position: center;
    border: 30px solid red;
    width: 440px;
    height: 300px;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}
